#myNav {
    background-color: rgba(212, 154, 114, 0.29);
}


#logo {
    height: 44px;
}

#main-bg {
    min-width: 300px;
    width: 100%;
}

#main{
    background-image: url(../images/main-bg5.jpg);
    height: 42em;
    background-repeat: no-repeat;
    position: relative;
}

#main h1{
    font-size: 4em;
}

.font{
    font-family: StratumBold,Areal !important;
    font-weight: 1000;
    color: white;
    letter-spacing: 0.05em;
    
}

#main h2{
    font-size:2em;
}

.main-text{
    position: absolute;
    top: 28%;
    left: 50%;
}

.main-buttons{
    width: fit-content;
    position: absolute;
    top: 53%;
    left: 49%;
}

.icon-box {
    height: 150px;
}

.icon-box div {
    border: 3px solid black;
}

.icon-text {
    padding: 7px 24px 0px 24px;
    font-size: 20px;
    font-weight: bold
}

.tech-heading {
    color:white;
    font-size: 2em;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 2px solid red;
    padding: 0 0.5em;
    font-weight: 600;
}

#technologies{
    background-image: url(../images/tech.jpg);
    padding: 1em 12em;
    
}

#mean:hover {
    border: solid #f9654a !important;
    background: #f9654a;
    color: white;
}

#mean {
    border: solid #f9654a !important;
    color: #f9654a;
}

#android {
    border: solid #45962d !important;
    color: #45962d;
}

#android:hover {
    border: solid #45962d !important;
    background: #45962d;
    color: white;
}

#ionic {
    border: solid #548fff !important;
    color: #548fff;
}

#ionic:hover {
    border: solid #548fff !important;
    background: #548fff;
    color: white;
}

#react {
    border: solid #11ffef !important;
    color: #11ffef;
}

#react:hover {
    border: solid #11ffef !important;
    background: #11ffef;
    color: white;
}

#redux {
    border: solid #7d4aa8 !important;
    color: #7d4aa8;
}

#redux:hover {
    border: solid #7d4aa8 !important;
    background: #7d4aa8;
    color: white;
}

#spring {
    border: solid #95ff60 !important;
    color: #95ff60;
}

#spring:hover {
    border: solid #95ff60 !important;
    background: #95ff60;
    color: white;
}

#laravel {
    border: solid #f04d38 !important;
    color: #f04d38;
}

#laravel:hover {
    border: solid #f04d38 !important;
    background: #f04d38;
    color: white;
}

#contact-us {
    background: black;
    color: white;
}

#contact-us p {
    margin: 0px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

.btn-animation{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.6em;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.11);
}

.btn-animation-text{
    display: block;
    padding: 0px 1em;
  }
  
  .btn-animation::before,.btn-animation::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
  }
  
  .btn-animation-text::before, .btn-animation-text::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
  }
  .btn-animation:hover::before, .btn-animation:hover::after{
    width: 100%;
  }
  .btn-animation:hover .btn-animation-text::before, .btn-animation:hover .btn-animation-text::after{
    height: 100%;
  }

  .btn-5::after{
    left:0;
    bottom: 0;
    transition-duration: 0.4s;
  }
  .btn-5 span::after{
    right:0;
    top: 0;
    transition-duration: 0.4s;
  }
  .btn-5::before{
    right: 0;
    top: 0;
    transition-duration: 0.4s;
  }
  .btn-5 span::before{
    left: 0;
    bottom: 0;
    transition-duration: 0.4s;
  }


/* start of desktop styles */

/*@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
/*    }
    
    @media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    
 /*   }*/
    
@media screen and (max-width: 479px) {

    #technologies{
        padding: 1em 1em;
    }
    .tech-heading{
        display: none;
    }
    #main{
        background-image: url(../images/rsz_main-bg5.jpg);
        height: 30em;
        background-repeat: no-repeat;
    }
    .icon-box {
        height: 100px;
    }
    .main-text{
        position: absolute;
        top: 25%;
        left: 2%;
    }

    #main h1{
        font-size: 2.5em;
    }

    .btn-animation{
        display: inline-block;
        position: relative;
        background: none;
        border: none;
        color: #fff;
        font-size: 1em;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.11);
    }

    .main-buttons {
        width: fit-content;
        position: absolute;
        top: 60%;
        left: 0%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #technologies{
        padding: 1em 1em;
    }

    .tech-heading{
        display: none;
    }

    #main{
        background-image: url(../images/main-bg5.jpg);
        height: 30em;
        background-repeat: no-repeat;
    }
    .icon-box {
        height: 100px;
    }
    .main-text {
        position: absolute;
        top: 39%;
        left: 3%;
    }

    #main h1{
        font-size: 3.2em;
    }

    .main-buttons {
        width: fit-content;
        position: absolute;
        top: 68%;
        left: -1%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #main{
        background-image: url(../images/main-bg5.jpg);
        height: 30em;
        background-repeat: no-repeat;
    }
    .icon-box {
        height: 100px;
    }
    .main-text{
        position: absolute;
        top: 21%;
        left: 55%;
    }

    #main h1{
        font-size: 3.2em;
    }

    .main-buttons {
        width: fit-content;
        position: absolute;
        top: 65%;
        left: 53%;
    }
    #technologies{
        padding: 2em 2em;
    }
}



/* .flat {
    border-radius: 0% !important;
}

.my-btn {
    border: 1px solid black;
    background-color: white;
}

.btn-text {
    padding-bottom: 0px;
    color: black;
} */